@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');


:root {
  --project-description-bg: rgb(49, 49, 49);
  --blue: #16a9c7;
  --grey: #1A1A1A;
  --black: black;
  --paragraph-size: 26px;
  --paragraph-size-small-screen: 20px;
  --heading-size: 4rem;
  --poppings: 'Poppings', sans-serif;
  --mono: 'IBM Plex Mono', sans-serif;
  --margin-bottom-header: 6rem;
  --margin-bottom-header-small-screen: 3.5rem;
  --lineheight: 1.4;
  --margin-bottom-nav: 15rem;
  --margin-bottom-nav-small-screen: 5rem;
  --navbar-font-size-small-screen: 29px;
  --image-margin-top: 6rem;
  --image-margin-bottom: 3rem;
  --blue-transparent: #16a9c780;
}

/* loader */
/* #preloader{
  background: var(--black) url(/assets/pacman.svg) no-repeat center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
loader */

html{
  scroll-behavior: smooth;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--black) !important;
}

h2 {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 30px !important;
  font-weight: 700 !important;
}

/* .navbar */

/* navbar toggler */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: calc(4px * 3 + 11px * 2);
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 3px;
  background: white;
  color: inherit;
  opacity: 1;
  transition: none 0.21s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
}

/***** Collapse Animation *****/

.bar--top {
  bottom: calc(50% + 11px + 4px/ 2);
  transition-property: bottom, margin, transform;
  transition-delay: calc(0s + 0.21s), 0s, 0s;
}

.bar--middle {
  top: calc(50% - 4px/ 2);
  transition-property: top, opacity;
  transition-duration: 0.21s, 0s;
  transition-delay: calc(0s + 0.21s * 1.3), calc(0s + 0.21s * 1.3);
}

.bar--bottom {
  top: calc(50% + 11px + 4px/ 2);
  transition-property: top, transform;
  transition-delay: 0s;
}

#checkbox:checked+.toggle .bar--top {
  bottom: calc(50% - 11px - 4px);
  margin-bottom: calc(11px + 4px/ 2);
  transform: rotate(45deg);
  transition-delay: calc(0s + 0.21s * .3), calc(0s + 0.21s * 1.3), calc(0s + 0.21s * 1.3);
}

#checkbox:checked+.toggle .bar--middle {
  top: calc(50% + 11px);
  opacity: 0;
  transition-duration: 0.21s, 0s;
  transition-delay: 0s, calc(0s + 0.21s);
}

#checkbox:checked+.toggle .bar--bottom {
  top: calc(50% - 4px/ 2);
  transform: rotate(-45deg);
  transition-delay: calc(0s + 0.21s * 1.3), calc(0s + 0.21s * 1.3);
}

/* navbar toggler */



.navbar {
  background-color: var(--black);
}

#navbar-logo {
  font-size: 40px;
  position: relative;
  font-weight: 500;
  color: white;
  transition: color 1s ease-in-out;
  position: relative;
}


#navbar-logo:hover {
  background-image: url('/assets/mask-image.gif');
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#navbar-toggler {
  padding: 0px;
}



.navbar-nav .nav-item:not(:last-child) {
  margin-right: 3rem;
}

.nav-item .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: white;
}

.nav-link {
  position: relative;
  padding: 0px !important;
}

/* overlay-animation */

#logo-overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;
  left: 0px;
  top: 0px;
  z-index: 2;
}



/* .navbar */


/* hero section */
.hero-svg{
  width: 50%;
}

.hero {
  height: 100vh;
}

.main-container {

  position: relative;
}

.hello-text {
  color: var(--blue);
  font-weight: 600;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
}

.deuce-text {
  font-size:2.2rem;
  font-weight: 800;
  color: white;
  line-height: 1.5;
  text-wrap: balance;
}


.first-section {
  line-height: 1;
}

.hero-writeup {
  max-width: 400px;
  color: white;
  line-height: 2;
}

.resume-button {
  padding: 15px;
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  font-family: var(--mono);
  font-weight: 400;
  margin-top: 3rem;
  transition: all 250ms ease-out;
  font-size: 20px;
  border: 1px solid white;
  overflow: hidden;
  position: relative;
}

.resume-button:hover,
.resume-button:focus-visible {
  border: 1px solid var(--blue);
  padding-right: 40px;
} 

.resume-button:hover > i{
  right: 15px;
}

.resume-button i{
  position: absolute;
  right: -100%;
  transition: all 250ms ease-in-out;
}

/*about me section css */



.profile-section {
  margin-top: 10rem;
  max-width: 900px;
  margin: 0px auto;
}





.about-me-writeup span {
  color: #16a9c7;
  font-style: italic;
  font-weight: 300;
  position: relative;
}




.about-me-writeup i {
  font-style: normal;
  color: var(--blue);
  font-weight: 700;
}

.about-me-writeup span a {
  color: var(--blue);
}

.about-description-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-top: 4rem;
}

.about-me-writeup {
  line-height: 2;
  max-width: 250px;
  font-size: 14px;
}

ul {
  list-style: none;
  line-height: 2;
}

.technologies {
  font-weight: 200;
}

.listed-items {
  max-width: 700px !important;
  margin-top: 0px !important;
}

li img {
  width: 20px;
  height: 20px;
}

.list-icons {
  margin-right: 10px;
}



/* sub-header-containers */


.sub-header-containers {
  position: relative;
}


/* sub-header-containers */

/* profile picture css */

.profile-name,
.profile-description {
  text-align: center;
  font-family: var(--mono);
}

.profile-name {
  font-size: 1.4rem;
}

.profile-description {
  font-size: 0.8rem;
}




/* profile picture css */



/* about me section css */


/* contact container css */
.contact-container {
  margin-top: 15rem;
  padding: 20px;
}

.contact-container-content {
  margin-top: 8rem;
}

.contact-form-header {
  margin-bottom: 4rem;
}

textarea {
  padding: 20px;
  background-color: var(--grey);
  color: white;
  border: none;
  outline: none;
  font-size: 24px !important;
}

input {
  padding: 20px;
  background-color: var(--grey);
  color: white;
  border: none;
  outline: none;
  font-size: 24px !important;
}

input::placeholder {
  color: white;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.4;

}

textarea::placeholder {
  color: white;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.4;

}

.button {
  outline: none;
  border: none;
  border: 1px solid white;
  padding: 10px;
  font-size: 19px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease-in-out;
  background-color: transparent;
  color: white;
  font-family: var(--mono)
}

.button:hover {
  opacity: 0.6;
}

form {
  padding: 20px;
  margin-bottom: 4rem;
}


.contacts p {
  color: grey;
  font-size: 16px;
  font-style: bold;
}

a {
  text-decoration: none !important;
}

.contact-link-container {
  font-size: 15px;
  font-weight: 500;
}

.fab, .fas {
  color: white;
  font-size: 25px;
  padding: 10px;
  transition: all 500ms ease-in-out;
}

.fab:hover, .fas:hover {
  color: var(--blue);
}


.fa-solid {
  color: white;
  font-size: 25px;
  padding: 10px;
  transition: all 500ms ease-in-out;
}

.fa-solid:hover {
  color: var(--blue);
}


.secret-code-input-container {
  max-width: 85% !important;
  margin-top: 4rem;
}

.secret-code-input {
  font-size: 14px !important;
}

#submit-button {
  outline: none;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  padding: 5px;
}

.color-change-2x:hover {
  -webkit-animation: color-change-2x 2s ease-in-out infinite alternate both;
  animation: color-change-2x 2s ease-in-out infinite alternate both;
}

/* hover effect for submit-button */
@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }

  100% {
    background: #b22cff;
  }
}

@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }

  100% {
    background: #b22cff;
  }
}



/* hover effect for submit-button */



/* contact container css */


/* footer css */

footer{
  border-top: 1px solid white;
  border-image-source: radial-gradient(circle farthest-corner at center center, #FFFFFF 0%, #111111 100%);
  border-image-slice: 1;
}
footer span {
  color: grey;
  font-size: 11px;
}

.footer-1 {
  background-color: black;
  padding: 20px;
}

.footer-2 {
  background-color: black;
  margin: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-links {
  color: white;
  font-size: 16px;
  position: relative;
}



/* footer css */


/* back up css */
.Btn {
  margin: 0px 0px 20px auto;
  width: 50px;
  height: 50px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  border: 1px solid white;
  mix-blend-mode: difference;
}

.arrow path {
  fill: white;
}

.text {
  font-size: .7em;
  width: 100px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -18px;
  opacity: 0;
  transition-duration: .7s;
  mix-blend-mode: difference;
}

.Btn:hover{
  background: white;
}

.Btn:hover .arrow path{
  fill: black;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: .7s;
}

.Btn:hover .arrow {
  animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* back up css */

/* side nav css */
.side-nav{
  display: flex;
  flex-direction: column;
  width: fit-content;
  position: fixed;
  bottom: 0px;
  left: calc(4vh - 20px);
}

.side-nav:after{
  content: '';
  height: 80px;
  width: 1px;
  background-color: white;
  margin: 20px auto 0px auto
}
/* side nav css */

/* 
media query */
@media screen and (max-width: 786px) {

  .resume-button {
    font-size: 13px;
    margin-top: 1.2rem;
  }

  .about-description-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: unset;
    gap: 0px;
  }

  .about-me-writeup{
    max-width: 100%;
  }

  .about-me-writeup span a {
    font-size: 16px;
  }

  .main-container {
    overflow: hidden;
  }

  .about-me-writeup,
  .hero-writeup,
  .technologies {
    font-size: 12px;
  }

  #navbar-logo {
    font-size: var(--navbar-font-size-small-screen);
    position: relative;
    transition: color 1s ease-in-out;
    font-family: var(--mono)
  }


  .typing-effect p {
    font-size: 15px;
  }

  .deuce-text {
    font-size: 2rem;
  }


  .contact-form-header {
    text-align: center;

  }

  .contact-link-container a {
    font-size: 16px;
  }

  .button {
    padding: none;
  }

  input::placeholder {
    color: white;
    opacity: 0.4;
    font-weight: 400;
    font-size: 12px;
  }

  textarea::placeholder {
    color: white;
    opacity: 0.4;
    font-weight: 400;
    font-size: 12px;
  }


  h2 {
    font-size: 1.2rem !important;
  }


}


@media screen and (max-width: 991px) {
  .side-nav{
    display: none;
  }
  .hero{
     height: 100vh;
  }
 
  #NavBar {
    border-bottom: 1px solid white;
    border-image-source: radial-gradient(circle farthest-corner at center center, #FFFFFF 0%, #111111 100%);
    border-image-slice: 1;
  }

  .nav-item:not(:last-child) {
    margin-right: 0px !important;
    margin-bottom: 15px;
  }


  .navbar-nav {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .nav-link:hover {
    opacity: 0.6;
  }

  .about-me-writeup {
    text-align: unset;
  }
}



/* 
media query */



/* project-showcase css */
.project-main-container{
  padding: 20px;
  margin-top: 8rem;
}

.project-main-container .sub-header-containers{
   margin-bottom: 6rem;
}

.project-container {
  max-width: 950px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0px auto;
}

.project-container:not(:last-child){
  margin-bottom: 50px;
}

.project-content {
  height: 100%;
}

.project {
  max-width: 50%;
  color: white;
  font-family: 'Poppins';
  background: transparent;
  position: relative;
  left: 30px;
}

.project-title {
  color: var(--blue);
  font-family: monospace;
  margin-bottom: 5px;
  width: fit-content;
}

.project-name {
  margin-top: 0px;
  font-family: 'poppins', sans-serif !important;
}


.project-description {
  background-color: var(--project-description-bg);
  padding: 20px;
}

.project-image-container {
  position: relative;
  z-index: -1;
}


.project-image {
  width: 100%;
  display: block;
}

.project-image-container:before {
  --blue-transparent: rgba(22, 168, 197, 0.7);
  content: '';
  position: absolute;
  background-color: var(--blue-transparent);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 1;
  transition: 250ms ease-in-out;
}

.project-container a:hover>.project-image-container:before {
  opacity: 0;
}

.tool-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 10px;
  font-size: 12px;
  font-family: monospace;
  color: grey;
  padding-left: 0px;
}

.underline-hover {
  position: relative;
}

.underline-hover::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--blue);
  bottom: -3px;
  width: 0px;
  transition: 250ms ease-in-out;
}

.underline-hover:hover {
  color: var(--blue);
  cursor: pointer;
}

.underline-hover:hover:before {
  width: 100%;
}

.second-hyperlink{
  font-family: monospace;
  color: var(--blue);
  text-decoration: none;
  display: none;
  width: fit-content;
}


@media screen and (max-width: 546px) {
  .project {
    color: white;
    font-family: 'Poppins';
    background: transparent;
    position: initial;
    max-width: 100%;
  }

  .project-description {
    background: none;
    padding: 0px;
  }


  .project-image-container {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
  }

  .project-image {
    object-fit: cover;
    height: 100%;
  }

  .project-content{
    padding: 20px;
  }

  .project-container {
    overflow: hidden;
  }

  .second-hyperlink{
    display: block;
  }

  .project-image-container:before {
    --blue-transparent: rgb(49, 49, 49, 0.9);
    background-color: var(--blue-transparent);
  }
  
}

/* project-showcase css */