@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');


:root{
  --blue: #16a9c7;
    --grey: #1A1A1A;
    --black: #111111;
    --paragraph-size: 26px;
    --paragraph-size-small-screen: 20px;
    --heading-size: 4rem;
    --poppings: 'Poppings',sans-serif;
    --mono:'IBM Plex Mono',sans-serif;
    --margin-bottom-header: 6rem;
    --margin-bottom-header-small-screen: 3.5rem;
    --lineheight: 1.4;  
    --margin-bottom-nav: 15rem;
    --margin-bottom-nav-small-screen: 5rem;
    --navbar-font-size-small-screen:29px;
    --image-margin-top: 6rem;
    --image-margin-bottom: 3rem;
}

/* loader */
#preloader{
  background: #000 url(/assets/pacman.svg) no-repeat center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
/* loader */




*{
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--black) !important; 
}

a{
  font-family: 'IBM Plex Mono', sans-serif;
}

h2{
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 30px !important;
  font-weight: 700 !important;
}

/* .navbar */

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.navbar{
  background-color: var(--black);
}

#navbar-logo{
    font-size: 40px;
    position: relative;
    font-weight: 300 !important;
    color: white;
    transition: all 1s ease-in-out;
}


#navbar-logo:hover{
    font-weight: 800;
    background-image: url('/assets/mask-image.gif');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.nav-link lord-icon{
  position: relative;
  top: 6px;
  left: -2px;
}



.navbar-nav .nav-item:not(:last-child) {
    margin-right: 3rem;
}

.nav-item .nav-link{
  color: white;
}

.navbar-nav .nav-link:hover{
  color: white;
}

.nav-link{
  position: relative;
}

.nav-link:before{
  content: '';
  width: 0%;
  background-color: var(--blue);
  height: 3px;
  position:absolute;
  left: 0;
  bottom: 0;
  transition: all 250ms ease-in-out;
}

.nav-link:hover::before{
  width: 100%;
}

/* .navbar */


/* hero section */
.main-container{
    padding-top: 11em;

}

.hello-text{
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    font-family: 'IBM Plex Mono', sans-serif;
}

.deuce-text{
    font-size: 8rem;
    font-weight: 800;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,0,0,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.iam-text{
    color: #b1aeae;
    font-size:106px;
    font-weight: 700;
}

.first-section{
    line-height:1;
}
.hero-writeup{
  max-width: 500px;
  color: white;
  line-height: 2;
  font-weight: 200;
  font-size: 20px;
}

.resume-button{
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  font-family: var(--mono);
  font-weight: 400;
  margin-top: 3rem;
  transition: all 250ms ease-out;
  font-size: 20px;
  border: 1px solid white;
}

.resume-button:hover,
.resume-button:focus-visible{
    border: 1px solid var(--blue);
    color: var(--blue);
}


/* typing effect css */

  .typing-effect p {
    font-size: 25px;
    padding: 0.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    overflow: hidden;
    color: #E9F8F9;
  }
  .typing-effect p span.typed-text {
    font-weight: normal;
    color: var(--blue) ;
  }
  .typing-effect p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .typing-effect p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }

/*typing effect css */


/*about me section css */

.profile-section{
  margin-top: 15rem;
}


.profile-section div{
  margin-top: 4rem;
}

.about-me-writeup span{
  color: #16a9c7;
  font-style: italic;
  font-weight: 300;
  position: relative;
}

.about-me-writeup span::before{
  content: '';
  width: 0%;
  background-color: var(--blue);
  height: 3px;
  position:absolute;
  left: 0;
  bottom: 0;
  transition: all 250ms ease-in-out;
}

.about-me-writeup span:hover::before{
  width: 100%;
}

.about-me-writeup i{
  font-style: normal;
  color: var(--blue);
  font-weight: 700;
}

.about-me-writeup span a{
  color: var(--blue);
}

.about-me-writeup{
  max-width: 600px;
  line-height: 2;
  font-weight: 200;
  font-size: 20px;
}

ul{
  list-style: none;
  font-size: 16px;
  line-height: 2;
}

.listed-items{
  max-width: 700px !important
}

li img{
  width: 20px;
  height: 20px;
}

.list-icons{
  margin-right:10px;
  transition: all 0.4s ease-in-out;
}

.list-icons:hover{
  -webkit-animation: shake-horizontal 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: shake-horizontal 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* list-icon-button animatiom */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}



/* list-icon-button-animation */


/* sub-header-containers */


.sub-header-containers{
  position: relative;
}

.sub-header-containers lord-icon{
  position: absolute;
  bottom:1px;
  left:10px;
}


/* sub-header-containers */

/* profile picture css */
.image-container{
  position: relative;
  height: fit-content;
  width: fit-content;
}

.picture-of-me{
  max-height: 300px;
  max-height: 300px;
  filter: grayscale(100);
}
.overlay-container{
  position: absolute;
  left: 0;
  top: -64px;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: var(--blue);
  transition: all 250ms ease-in-out;
}

.overlay-container >*{
  transform: translateY(20px);
  transition: all 400ms ease-in-out;
}

.overlay-container:hover >*{
  transform: translateY(0px);
}

.overlay-container:hover{
  opacity: 1;
}

.profile-name,
.profile-description{
  text-align: center;
  font-family: var(--mono);
}

.profile-name{
  font-size: 1.4rem;
}

.profile-description{
  font-size: 0.8rem;
}

.profile-icon-container{
  display: grid;
  place-items: center;
  position: relative;
}

.profile-icon{
  position: absolute;
}


/* profile picture css */



/* about me section css */







/* project container css */

.works-icon{
  left: 23px !important;
}
.project-container{
  margin-top: 15rem;
}

.project-header{
  margin-top: 8rem;
  text-align: center;
  font-size: 1.8rem;
}
.project-featured{
  color: #16a9c7;
  font-size: 20px;
  text-align: center;
  line-height: 2;
  margin-bottom: 9rem;
}

/* project-block  */


/* lifeville css */
.project-block{
  margin-bottom: 20px;
  position: relative;
  transition: all 0.5s ease-in-out;
 
}

.project-block:after{
    content: 'Lifeville';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    color: white;
    display: grid;
    place-items: center;
    font-weight: 400;
    font-size: 5rem;
    transition: all 0.25s ease-in-out;
    opacity: 0;
    transform: translateY(20px);
}

.project-block:hover::After{
  opacity: 1;
  transform: translateY(0px);
}


.project-block:before{
  content: '';
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s all;
}


.project-block:hover::before{
  opacity: 1;
}

/* lifeville css */




/* second block css */
.project-block-2{
  aspect-ratio: 1 / 1;
  margin-bottom: 20px;
  position: relative;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.project-block-2:after{
  content: 'Lalasia';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: white;
  display: grid;
  place-items: center;
  font-weight: 400;
  font-size: 5rem;
  transition: all 0.25s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
}

.project-block-2:hover::After{
opacity: 1;
transform: translateY(0px);
}


.project-block-2:before{
content: '';
background-color: rgba(0, 0, 0, 0.6);
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
opacity: 0;
transition: 0.5s all;
}


.project-block-2:hover::before{
opacity: 1;
}


/* second block css */


/* third block css */
.project-block-3{
  margin-bottom: 20px;
  position: relative;
  transition: all 0.5s ease-in-out;
  
}

.project-block-3:after{
  content: 'Citrone';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: white;
  display: grid;
  place-items: center;
  font-weight: 400;
  font-size: 5rem;
  transition: all 0.25s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
}

.project-block-3:hover::After{
opacity: 1;
transform: translateY(0px);
}


.project-block-3:before{
content: '';
background-color: rgba(0, 0, 0, 0.6);
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
opacity: 0;
transition: 0.5s all;
}


.project-block-3:hover::before{
opacity: 1;
}

/* third block css */

/* fourth block css */
.project-block-4{
  margin-bottom: 20px;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.project-block-4:after{
  content: 'Not Ready!';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  color: white;
  display: grid;
  place-items: center;
  font-weight: 400;
  font-size: 5rem;
  transition: all 0.25s ease-in-out;
  opacity: 0;
  transform: translateY(20px);
}

.project-block-4:hover::After{
opacity: 1;
transform: translateY(0px);
}


.project-block-4:before{
content: '';
background-color: rgba(0, 0, 0, 0.6);
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
opacity: 0;
transition: 0.5s all;
}


.project-block-4:hover::before{
opacity: 1;
}

/* fourth block css */







.project-block:hover{
  
}
/* project-block  */


.project-image{
  width: 100%;
  height: 100%;
}
/* project container css */










/* contact container css */
.contact-container{
  margin-top: 15rem;
  padding: 20px;
}

.contact-container-content{
  margin-top: 8rem;
}

.contact-form-header{
  font-size: 2.5rem;
  margin-bottom: 4rem;
}

textarea{
  
  padding: 20px;
  background-color: var(--grey);
  color: white;
  border: none;
  outline: none;
  font-size: 24px !important;
}

input{
  padding: 20px;
  background-color:var(--grey);
  color: white;
  border: none;
  outline: none;
  font-size: 24px !important;
}

input::placeholder{
  color: white;
  font-weight: 400; 
  font-size: 24px;
}

textarea::placeholder{
  color: white;
  font-weight: 400;
  font-size: 24px;
}

.button{
  outline: none;
  border: none;
  padding: 10px;
  font-size: 19px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms ease-in-out;
}

.button:hover{
  opacity: 0.6;
}

form{
  padding: 20px;
  margin-bottom: 4rem;
}


.contacts p{
  color: grey;
  font-size: 16px;
  font-style: bold;
}

a{
  text-decoration: none !important;
  font-size: 24px;
}

.contact-link-container{
  font-size: 15px;
  font-weight: 500;
}

.send-icon{
  position: relative;
  top: -2px;
}

.fab{
  color: white;
  font-size: 25px;
  padding: 10px;
  transition: all 500ms ease-in-out;
}

.fab:hover{
  color: var(--blue);
}


.fa-solid{
  color: white;
  font-size: 25px;
  padding: 10px;
  transition: all 500ms ease-in-out;
}

.fa-solid:hover{
  color: var(--blue);
}


.secret-code-input-container{
  max-width: 320px;
  margin-top: 4rem;
}

#submit-button{
  outline: none;
  border: none;
  width: 100%;
  display: flex;
  justify-content: center;
  place-items: center;
  padding: 5px;
}

.color-change-2x:hover {
	-webkit-animation: color-change-2x 2s ease-in-out infinite alternate both;
	        animation: color-change-2x 2s ease-in-out infinite alternate both;
}

/* hover effect for submit-button */
@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}



/* hover effect for submit-button */



/* contact container css */


/* footer css */
footer span{
  color: grey;
  font-size: 11px;
}

.footer-1{
  background-color: black;
  padding: 20px;
}

.footer-2{
  background-color: black;
  margin: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer lord-icon{
  position: relative;
  top: 6px;
  left:-11px
}

#footer-links{
  color: white;
  font-size: 16px;
  position: relative;
}


#footer-links::before{
  content: '';
  width: 0%;
  background-color: var(--blue);
  height: 3px;
  position:absolute;
  left: 0;
  bottom: 0;
  transition: all 250ms ease-in-out;
}

#footer-links:hover::before{
  width: 100%;
}

/* footer css */

/* 
media query */
@media screen and (max-width: 786px) {
  .nav-link:hover::before{
    width: 0%;
  }

  .about-me-writeup span a{
    font-size: 16px;
  }

  .main-container{
    padding-top: 2rem;
}

  .about-me-writeup,
  .hero-writeup{
    font-size: 16px;
  }

  #navbar-logo{
    font-size: var(--navbar-font-size-small-screen);
    position: relative;
    font-weight: 800;
    color: #E9F8F9;
    transition: all 1s ease-in-out;
    font-family: var(--mono)
}

.navbar{
    margin-bottom: var(--margin-bottom-nav-small-screen);
  }

  .typing-effect p{
    font-size: 15px ;
  }

  .deuce-text{
    font-size: 5rem;
  }

  .iam-text{
    font-size: 60px;
  }

  .contact-form-header{
    font-size: 25px;
    text-align: center;
    
  }
  .contact-link-container a{
    font-size: 16px;
  }

  .button{
    padding: none;
  }
  
input::placeholder{
  color: white;
  font-weight: 400; 
  font-size: 16px;
}

textarea::placeholder{
  color: white;
  font-weight: 400;
  font-size: 16px;
}


h2{
  font-size: 1.5rem !important;
}

}


@media screen and (max-width: 992px) {
  #NavBar{
    border-bottom: 1px solid white;
  }

  .nav-link:hover::before{
    width: 0%;
  }
}

/* 
media query */



/* hidden and show transitions */
.hidden{
  opacity: 0;
  transition: all 1s ease-in-out !important;
  filter: blur(5px);
  transform: translatey(40%);
}


.show{
opacity: 1 !important;
filter: blur(0);
transform: translateX(0);
}


/* hidden and show transitions */