@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');






:root {
  --blue: #16a9c7;
  --grey: #1A1A1A;
  --black: black;
  --paragraph-size: 26px;
  --paragraph-size-small-screen: 16px;
  --heading-size: 4rem;
  --poppings: 'Poppings', sans-serif;
  --mono: 'IBM Plex Mono', sans-serif;
  --margin-bottom-header: 6rem;
  --margin-bottom-header-small-screen: 3.5rem;
  --lineheight: 1.4;
  --margin-bottom-nav: 15rem;
  --margin-bottom-nav-small-screen: 5rem;
  --navbar-font-size-small-screen: 29px;
  --image-margin-top: 6rem;
  --image-margin-bottom: 3rem;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  padding: 20px;
}

body {
  background-color: var(--black) !important;
  font-family: var(--poppings);
}

.first-paragraph {
  color: var(--blue);
  font-family: var(--mono);
  font-size: var(--paragraph-size);
  line-height: var(--lineheight);
}

.paragraph {
  --paragraph-size: 20px;
  font-size: var(--paragraph-size);
}

.hero-header {
  padding-bottom: var(--margin-bottom-header);
}


/* description */

.description-container {
  margin-top: 4rem;
  max-width: 900px !important;
}

.description-block {
  margin-bottom: 4rem;
}

h2 {
  color: var(--blue);
  font-family: var(--mono);
}

/* description */


/* button */
.btn {
  background-color: white !important;
  outline: 0;
  border: none;
  color: black;
  font-family: var(--mono);
  font-weight: 600 !important;
  font-size: 1.4rem !important;
  height: 5rem;
  width: 12rem;
  margin-top: var(--image-margin-top);
  margin-bottom: var(--margin-bottom-header-small-screen);
}

.btn:hover {
  opacity: 0.8;
  color: black !important;
}

a {
  text-decoration: none !important;
}

/* button */

/* image */

.mock-up img {
}

.mock-up{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  max-width: 100%;
  position: relative;
}

.mock-up img:first-child{
  width: 100%;
  display: block;
}

.mock-up img:last-child{
  position: absolute;
  right: 0px;
  height: 90%;
}



/* image */


/* navbar css */
nav{
  border-bottom: 0.5px solid white;
  border-image-source: radial-gradient(circle farthest-corner at center center, #FFFFFF 0%, #111111 100%);
  border-image-slice: 1;
}

.go-back{
  color: white;
  cursor: pointer;
  font-size: 30px;
}

.go-back:hover{
  color: white;
} 


/* footer css */
footer span {
  color: grey;
  font-size: 11px;
}

.footer-1 {
  background-color: black;
  padding: 20px;
}

.footer-2 {
  background-color: black;
  margin: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer lord-icon {
  position: relative;
  top: 6px;
  left: -11px
}

#footer-links {
  color: white;
  font-size: 16px;
  position: relative;
}


#footer-links::before {
  content: '';
  width: 0%;
  background-color: var(--blue);
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 250ms ease-in-out;
}

#footer-links:hover::before {
  width: 100%;
}

li {
  list-style: none;
}

/* footer css */


/* media query */

@media screen and (max-width: 786px) {


  .hero-header {
    padding-bottom: var(--margin-bottom-header-small-screen);
  }


  .paragraph {
    font-size: var(--paragraph-size-small-screen);
  }



}


@media screen and (max-width: 574px) {
  nav{
    padding: 20px !important;
  }

  .go-back{
    font-size: 1.5rem;
  }
}

/* media query */