@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');






:root{
    --blue: #16a9c7;
    --grey: #1A1A1A;
    --black: black;
    --paragraph-size: 26px;
    --paragraph-size-small-screen: 16px;
    --heading-size: 4rem;
    --poppings: 'Poppings',sans-serif;
    --mono:'IBM Plex Mono',sans-serif;
    --margin-bottom-header: 6rem;
    --margin-bottom-header-small-screen: 3.5rem;
    --lineheight: 1.4;  
    --margin-bottom-nav: 15rem;
    --margin-bottom-nav-small-screen: 5rem;
    --navbar-font-size-small-screen:29px;
    --image-margin-top: 6rem;
    --image-margin-bottom: 3rem;
}

 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container{
    padding: 20px;
}

body{
    background-color: var(--black) !important;
    font-family: var(--poppings);
}

.first-paragraph{
    color: var(--blue);
    font-family: var(--mono);
    font-size: var(--paragraph-size);
    line-height: var(--lineheight);
}

.paragraph{
    font-size: var(--paragraph-size);
}

.hero-header{
    padding-bottom: var(--margin-bottom-header) ;
}


/* description */

.description-container{
    margin-top: 4rem;
    max-width: 900px !important;
}

.description-block{
    margin-bottom: 4rem;
}

h2{
    color: var(--blue);
    font-family: var(--mono);
}
/* description */


/* button */
.btn{
    background-color: white !important;
    outline: 0;
    border: none;
    color: black;
    font-family: var(--mono);
    font-weight: 600 !important;
    font-size: 1.4rem !important;
    height: 5rem;
    width: 12rem;
    margin-top: var(--image-margin-top);
    margin-bottom: var(--margin-bottom-header-small-screen);
}

.btn:hover{
    opacity: 0.8;
}

a{
    text-decoration: none !important;
}
/* button */

/* image */
.project-image{
    border: 1px solid var(--blue);
    border-radius: 5%;
    margin-top: var(--image-margin-top);
    margin-bottom: var(--image-margin-bottom);
}



/* image */

 /* .navbar */
 /* navbar toggler */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  cursor: pointer;
  margin: auto;
  display: block;
  height: calc(4px * 3 + 11px * 2);
}

.bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  background: white;
  color: inherit;
  opacity: 1;
  transition: none 0.35s cubic-bezier(.5,-0.35,.35,1.5) 0s;
}

/***** Collapse Animation *****/

.bar--top {
  bottom: calc(50% + 11px + 4px/ 2);
  transition-property: bottom,margin,transform;
  transition-delay: calc(0s + 0.35s),0s,0s;
}

.bar--middle {
  top: calc(50% - 4px/ 2);
  transition-property: top,opacity;
  transition-duration: 0.35s,0s;
  transition-delay: calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
}

.bar--bottom {
  top: calc(50% + 11px + 4px/ 2);
  transition-property: top,transform;
  transition-delay: 0s;
}

#checkbox:checked + .toggle .bar--top {
  bottom: calc(50% - 11px - 4px);
  margin-bottom: calc(11px + 4px/ 2);
  transform: rotate(45deg);
  transition-delay: calc(0s + 0.35s * .3),calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
}

#checkbox:checked + .toggle .bar--middle {
  top: calc(50% + 11px);
  opacity: 0;
  transition-duration: 0.35s,0s;
  transition-delay: 0s,calc(0s + 0.35s);
}

#checkbox:checked + .toggle .bar--bottom {
  top: calc(50% - 4px/ 2);
  transform: rotate(-45deg);
  transition-delay: calc(0s + 0.35s * 1.3),calc(0s + 0.35s * 1.3);
}
/* navbar toggler */



.navbar{
  background-color: var(--black);
}

#navbar-toggler{
  padding: 0px;
}

#navbar-logo{
    font-size: 40px;
    position: relative;
    font-weight: 300 !important;
    color: white;
    transition: all 1s ease-in-out;
}


#navbar-logo:hover{
    font-weight: 800;
    background-image: url('/assets/mask-image.gif');
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.nav-link lord-icon{
  position: relative;
  top: 6px;
  left: -2px;
}



.navbar-nav .nav-item:not(:last-child) {
    margin-right: 3rem;
}

.nav-item .nav-link{
  color: white;
}

.navbar-nav .nav-link:hover{
  color: white;
}

.nav-link{
  position: relative;
}

.nav-link:before{
  content: '';
  width: 0%;
  background-color: var(--blue);
  height: 1px;
  position:absolute;
  left: 0;
  bottom: 0;
  transition: all 250ms ease-in-out;
}

.nav-link:hover::before{
  width: 100%;
}

/* .navbar */

/* footer css */
footer span{
  color: grey;
  font-size: 11px;
}

.footer-1{
  background-color: black;
  padding: 20px;
}

.footer-2{
  background-color: black;
  margin: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer lord-icon{
  position: relative;
  top: 6px;
  left:-11px
}

#footer-links{
  color: white;
  font-size: 16px;
  position: relative;
}


#footer-links::before{
  content: '';
  width: 0%;
  background-color: var(--blue);
  height: 1px;
  position:absolute;
  left: 0;
  bottom: 0;
  transition: all 250ms ease-in-out;
}

#footer-links:hover::before{
  width: 100%;
}

li{
  list-style: none;
}

/* footer css */


  /* media query */

  @media screen and (max-width: 786px) {
    #navbar-logo{
        font-size: var(--navbar-font-size-small-screen);
        position: relative;
        font-weight: 800;
        color: #E9F8F9;
        transition: all 1s ease-in-out;
        font-family: var(--mono)
    }

    .navbar{
        margin-bottom: var(--margin-bottom-nav-small-screen);
      }


      .hero-header{
        padding-bottom: var(--margin-bottom-header-small-screen) ;
    }


    .paragraph{
        font-size:var(--paragraph-size-small-screen);
    }



  }


  @media screen and (max-width: 992px) {
    #NavBar{
      border-bottom: 1px solid white;
      border-image-source:radial-gradient(circle farthest-corner at center center, #FFFFFF 0%, #111111 100%);
      border-image-slice: 1;
      
    }
    
    .nav-item{
      margin-right: 0px !important;
    }
  
    .nav-link:hover::before{
      width: 0%;
    }
    
    .nav-link:hover{
      opacity: 0.6;
    }
  
    #navbarNavDropdown{
      text-align: center;
    }
  }
    /* media query */
